.page {
    background: @white;
    .container-fixed();
    .box-shadow(1px 1px 3px rgba(0,0,0,0.5));

    header {
        padding: 10px;
        .make-row();
    }

    main {
        .make-row();
    }

    nav {
        .make-row();
    }

    footer {
        .make-row();
        background: @gray-lighter;
        border-top: 1px solid @gray-light;

        aside {
            .make-sm-column(4);
            padding-top: 10px;
            padding-bottom: 100px;
        }

            aside:last-child {
                background: @gray-darker;
                color: @gray-light;
                padding-bottom: 10px;

                nav {
                    margin: 5px;
                    padding: 10px;
                    background: @gray-dark;

                    ul {
                        li {
                            a {
                                color: @gray-light;
                            }
                        }
                    }
                }
            }
    }
}
